* text=auto eol=lf

# Marcar modelos de face-api como binarios
public/models/* binary

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
